/*ESTILOS GENERALES*/
body {
    background: #dddddd;
}

main {
    min-height: 85vh;
}

/* MAIN */

/*estilo de la tabla que contiene el sodoku*/
#table td{
    max-width: 100%;
    cursor: pointer;
    font-weight: bold;
    transition: background 300ms linear;
    -webkit-transition: background 300ms linear;
    -moz-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    -o-transition: background 300ms linear;
}

#table td:hover,
#table .td-seleccionado{
    background: lightgray;
}

#table .td-acierto{
    color: green;
}

#table .td-fallo{
    color: red;
}

#table .b-end{
    border-right: 3px solid black !important;
}

#table .b-botton{
    border-bottom: 3px solid black !important;
}